# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan
tfplan

# CLI configuration
.terraformrc
terraform.rc

# OS / IDE
.DS_Store
.vscode/
.idea/
